@media only screen and (max-width: 357px) {
    .conteudo {
        position: relative;
        padding: 10px;
        width: 300px;
    }
} 
    



@media only screen and (max-width: 360px) {
    .attribution {
        width: 200px;
    }
  }

@media only screen and (max-width: 180px){
    .attribution {
        width: 150px;
    }
    
}



  