@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

body {
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-color: hsl(0, 0%, 8%);
    color: hsl(0, 0%, 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.conteudo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    background-color: hsl(0, 0%, 12%);
    border-radius: 10px;
    padding: 30px;
    padding-top: 50px;
    width: 350px;
}

#imagem {
    border-radius: 100%;
    height: 110px;
}

.nome-local {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nome {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 22px;
}

.local {
    font-family: 'Inter', sans-serif; 
    font-size: 14px;
    font-weight: 600;
    color: hsl(75, 94%, 57%);
}

.descricao {
    font-family: 'Inter', sans-serif;
    font-size: 13px;
}

.redes-sociais ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.redes-sociais ul :hover {
    background-color: hsl(75, 94%, 57%);
    color:black;
}

.redes-sociais ul li {
    background-color: hsl(0, 0%, 20%);
    padding: 10px;
    width: 280px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 40px;
}

.redes-sociais ul li button {
    color: hsl(0, 0%, 100%);
    font-family: 'Inter', sans-serif;
    font-size: 13px;
    font-weight: 700;
    
}


.attribution { font-size: 13px; text-align: center; 
position: fixed;
bottom: 0;
}

.attribution a { color: hsl(75, 94%, 57%); }

